.box {
    background: #BCB4C6;
    height: 92vh;
    padding: 5px;
    display: flex;
    width: 10vw;
}

ul {
    list-style: none;
    font-size: 35px;
    display: block;
    padding: 0;
    margin: 0;
}
.bottom {
    margin: 75vh 0 0 0;
}