<div class="main">
    <div>
        <h1>Welcome Soham. Your Collabs...</h1>
    </div>

    <div class="container">
        <div class="row">
            <div>
                <div class="col-1-5">
                </div>
            </div>
            <div class="col-4">
                <a routerLink="/math">
                <div class="crate">
                    <div class="math">
                        <div>
                            <h1>Math</h1>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div>
              <div class="col-1">
              </div>
            </div>
            <div class="col-4">
                <a routerLink="/science">
                <div class="crate">
                    <div class="science">
                            <div>
                                <h1>Science</h1>
                            </div>
                    </div>
                </div>
                </a>
            </div>
            <div>
              <div class="col-1">
              </div>
            </div>
            <div class="col-4">
                <a routerLink="/english">
                <div class="crate">
                    <div class="english">
                            <div>
                                <h1>English</h1>
                            </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-1">
            </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
            <div>
                <div class="col-1-5">
                </div>
              </div>
            <div class="col-4">
                <a routerLink="/history">
                <div class="crate">
                    <div class="history">
                            <div>
                                <h1>History</h1>
                            </div>
                    </div>
                </div>
                </a>
            </div>
            <div>
              <div class="col-1">
              </div>
            </div>
            <div class="col-4">
                <a routerLink="/language">
                <div class="crate">
                    <div class="language">
                            <div>
                                <h1>Language</h1>
                            </div>
                    </div>
                </div>
                </a>
            </div>
            <div>
              <div class="col-1">
              </div>
            </div>
            <div class="col-4">
                <a routerLink="/elective">
                <div class="crate">
                    <div class="elective">
                            <div>
                                <h1>Elective</h1>
                            </div>
                    </div>   
                </div>
                </a>
            </div>
            <div class="col-1">
            </div>
        </div>
      </div>
    
    
     
</div>