.main {
    display: inline-block;
    padding-left: 10px;
}

.crate {
    text-align: center;
    width: 350px;
    height: 350px;
    margin: 24px;
    background-color: #BCB4C6;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15), 2px 3px 0 rgba(0,0,0,0.1);
    border-radius: 15px;
}


.math, .science, .english, .history, .language, .elective {
    width: 350px;
    height: 350px;
    padding-top: 35%;
}

.crate :hover {
    background-color: #8b7ba0;
    width: 350px;
    height: 65%;
    border-radius: 15px;
}


.col-1 {width: 5vw;}
.col-1-5 {width: 9vw;}
.col-2 {width: 10vw;}
.col-3 {width: 15vw;}
.col-4 {width: 20vw;}
.col-5 {width: 25vw;}
.col-6 {width: 30vw;}
.col-7 {width: 35vw;}
.col-8 {width: 40vw;}
.col-9 {width: 45vw;}
.col-10 {width: 50vw;}
.col-11 {width: 55vw;}
.col-12 {width: 60vw;}
.col-13 {width: 65vw;}
.col-14 {width: 70vw;}
.col-15 {width: 75vw;}
.col-16 {width: 80vw;}
.col-17 {width: 85vw;}
.col-18 {width: 90vw;}
.col-19 {width: 95vw;}
.col-20 {width: 100vw;}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row::after {
    display: table;
    clear: both;
    content: "";
}