.box {
    background: #BCB4C6;
    height: 100vh;
    display: flex;
    width: 10vw;
    text-align: justify;
}

ul {
    list-style: none;
    font-size: 35px;
    display: block;
    padding: 0;
    margin: 0;
}
li :hover{
    padding-left: 1vw;
}
hr{
    padding: 0;
    margin: 0;
}

.chatroom, .profile {
    height: 5vh;
    width: 10vw;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px black;
}

.chatroom :hover, .profile :hover{
    background-color: #8b7ba0;
    height: 5vh;
    width: 10vw;
    margin: 0;
}